.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0 10% 0 10%;
}

.container {
  margin-top: 5%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.podcastWidget {
  width: 200px;
  min-height: 300px;
  text-align: left;
  margin: 0 32px 32px 0;
}

.podcastWidget img {
  width: 150px;
}

.podcastEpisode p {
  text-align: left;
}

.podcastEpisode button {
  margin: 20px;
}

.podcastEpisode iframe {
  width: 600px;
  height: 200px;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .podcastWidget {
    width: 80vw;
    min-height: 100px;
  }
  .podcastEpisode iframe {
    width: 250px;
    height: 150px;
  }
}
